.main{
    height: auto;
    background-color: rgb(32, 31, 31);
    
}
.head{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 3rem;
}
.box{
  
    width:20rem;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    margin-inline: 2rem;
    margin-top: 3rem;
    padding-bottom: 2rem;

}
.image{
    height: 18rem;
    width: 18rem;
    border-radius: 15px;
}
.project{ 
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: rgb(11, 37, 60);
    color:#ffffff;
    font-size: 1rem;
    cursor: pointer;
}
.box h1{
    margin-block: 1rem;
}


/* Existing styles here */

@media (max-width: 1200px) {
    /* .flex {
      margin-left: 2rem;
    } */
    .image{
        width: 10rem;
        height: 10rem;
    }
  
    .box {
      width: calc(33.33% - 2rem);
      margin-bottom: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    /* .flex {
      margin-left: 1rem;
    } */
    .image{
        width: 10rem;
        height: 10rem;
    }
  
    .box {
      width: calc(50% - 2rem);
    }
  }
  
  @media (max-width: 576px) {
    /* .flex {
      margin-left: 0.5rem;
    } */
    .image{
        width: 10rem;
        height: 10rem;
    }
    .box {
      width: 100%;
    }
  }
  
  @media (max-width: 320px) {
    /* .flex {
      margin-left: 0.5rem;
    } */
    .image{
        width: 10rem;
        height: 10rem;
    }
    .box {
      width: 100%;
    }
  }
  
  /* Additional media query for screens larger than 1200px if needed */
  
  @media (min-width: 1201px) {
    /* .flex {
      margin-left: 5rem;
    } */
    .image{
        width: 10rem;
        height: 10rem;
    }
    .box {
      width: 20rem;
    }
  }
  