/* Default styles for larger screens */
.back {
    background-color: rgb(17, 17, 17);
    position: fixed; 
    top: 0;       
    left: 0;        
    right: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 4px gray;
    padding: 25px;
    font-size: 1.2rem;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
}

.eram {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navLink {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

/* Media Query for screens with a maximum width of 768 pixels (Tablet) */
@media (max-width: 768px) {
    .flex {
        flex-direction: column;
        align-items: center;
        /* padding: 15px; Adjust padding for smaller screens */
    }

    .links {
        flex-direction: column;
        text-align: center;
    }

    .eram {
        margin-bottom: 1rem;
    }

    .navLink {
        margin-bottom: 0.5rem;
    }
}

/* Media Query for screens with a maximum width of 320 pixels (Small Phones) */
@media (max-width: 320px) {
    .flex {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .eram {
        font-size: 1rem; /* Adjust font size for smaller screens */
        margin-bottom: 0.5rem;
    }

    .navLink {
        margin-bottom: 0.3rem; /* Adjust margin for smaller screens */
    }
}
